.item {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(56, 207, 18);
}

.text {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 500;
}
.noReview {
  font-weight: normal;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(6, 13, 14);
}
