.nav {
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 0px 15px;
  list-style: none;
}
.item {
  margin-right: 20px;
}
.list {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 40px;
}

.item :not(:last-child) {
  margin-right: 20px;
}

.link {
  /* display: inline-block; */
  padding-top: 20px;
  padding-bottom: 20px;

  color: currentColor;
  list-style: none;
  text-align: center;
}

.Link :hover {
  text-decoration: underline;
  color: #e40000;
  font-weight: 500;
}

.link :active {
  color: #e40000;
  font-weight: 500;
}

.Navigation_item {
  margin-right: 20px;
}
